<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.white.hot.doremember">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationTheme.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity"/>
        <activity android:name=".function.notification.NotificationActivity"/>
        <activity android:name=".function.audio.AudioPlayerActivity"/>
        <activity android:name=".function.pdf.PDFActivity"/>
        <activity android:name=".function.FileEncryption.FileEncryptionActivity"/>
        <activity android:name=".function.anim.AnimationActivity"/>
        <activity android:name=".function.anim.imgscan_mode.AlbumActivity"/>
        <activity android:name=".function.anim.imgscan_mode.PreviewActivity"/>
        <activity android:name=".function.anim.FanActivity"/>
        <activity android:name=".function.anim.ListViewActivity"/>
        <activity android:name=".function.anim.GridViewActivity"/>
        <activity android:name=".function.anim.PlatteActivity"/>
        <activity android:name=".function.bluetooth.BluetoothActivity"/>
        <activity android:name=".function.bluetooth.ChatActivity"/>
        <activity android:name=".function.snapshot.ScreenCaptureImageActivity"/>
        <activity android:name=".function.anim.ReboundActivity">
        </activity>
    </application>

</manifest>